body {
    background-color: rgb(41, 37, 37);
    }
#video{
    display: block;
    margin: auto;
}

#frases h1, #frases h2, #frases h3 {
    text-align: center;
    color: white;
}


#video{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
